.cl{
    color: rgb(139,0,0);
    color: rgb(204,22,0);
    color: rgb(206,0,25);
    color: rgb(220,0,3);
    color: rgb(254,0,0);
    color: rgb(61,13,3);
    color: rgb(128,24,24);
    color: rgb(174,32,26);
    color: rgb(254,0,2);
    color: rgb(255,255,0);

    color: rgb(209,66,142);
    color: rgb(175,68,130);
    color: rgb(189,38,113);
    color: rgb(233,17,132);
    color: rgb(231,78,154);
    color: rgb(214,19,117);
    color: rgb(253,0,127);
    color: rgb(244,194,194);
    color: rgb(247,191,190);
}